<div class="container">
  <div class="form-container">
    <div class="title">Register</div>
    <form [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput (keyup.enter)="createAccount()" />
        <mat-error *ngIf="f['email'].errors && f['email'].errors['required']">
          Email is required!
        </mat-error>
        <mat-error *ngIf="f['email'].errors && f['email'].errors['email']"
          >Provide a valid email!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput (keyup.enter)="createAccount()"/>
        <mat-error
        *ngIf="f['username'].errors && f['username'].errors['required']"
      >
        Username is required!
      </mat-error>
      <mat-error
        *ngIf="f['username'].errors && f['username'].errors['maxlength']"
      >
        You have to include max 10 chatacters!
      </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput (keyup.enter)="createAccount()"/>
        <mat-error
        *ngIf="f['password'].errors && f['password'].errors['required']"
      >
        Password is required!
      </mat-error>
      <mat-error
        *ngIf="f['password'].errors && f['password'].errors['minlength']"
      >
        You have to include min 8 chatacters!
      </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button mat-button class="register-button" [disabled]="registerForm.invalid" (click)="createAccount()">Register</button>
      <p>or</p>
      <button mat-button routerLink="/login">Login</button>
    </div>
  </div>
</div>
